<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900492907594-panedkpahs6s3ad2t9k3dkdvaego8f4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900492907594-panedkpahs6s3ad2t9k3dkdvaego8f4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBnlj56BPTiqh5FE1EIWh6pss24BR7LNdk</string>
	<key>GCM_SENDER_ID</key>
	<string>900492907594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.millecrepestudios.HeavenorHell</string>
	<key>PROJECT_ID</key>
	<string>heaven-or-hell-c5db7</string>
	<key>STORAGE_BUCKET</key>
	<string>heaven-or-hell-c5db7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900492907594:ios:652257858a19f5b0d582b3</string>
</dict>
</plist>